:root {
  font-family: "Inria Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  background-image: url(./public/backgroundImg.png);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: inherit;
}

a:hover {
  color: white;
  cursor: pointer;
}

/* -----------------------  HEADER  -----------------------  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 158px;
  background-image: linear-gradient(#5f1111, #b52828);
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

.header-logo {
  display: none;
}

header button a {
  color: black;
}

header button a:hover {
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-right: 10px;
}

/* -----------------------  HEADINGS  -----------------------  */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  font-family: "Inria Serif";
}

h2 {
  text-align: center;
  grid-column: span 5;
  font-family: "Inria Serif";
  font-size: 2.7em;
  line-height: 1.1;
}

h3 {
  text-align: center;
  font-family: "Inria Serif";
  grid-column: span 5;
  font-size: 2em;
  line-height: 1.1;
}

/* -----------------------  PARAGRAPH  -----------------------  */

p {
  font-family: "Inria Sans";
  width: calc(100vw - 100px);
  margin-bottom: 30px;
  grid-column: span 5;
  margin: 0 auto;
  padding: 0 20px;
  margin: 10px 0;
}

/* -----------------------  BUTTONS  -----------------------  */

header button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdfdfd;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 100%;
}

header button:hover {
  border: 1px solid white;
  box-shadow: rgb(205, 205, 205) 1px 0 10px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.location-button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdfdfd;
  border: 1.5px solid black;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 150px;
  margin-bottom: 20px;
}

/* -----------------------  IMAGES  -----------------------  */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 5;
  margin: 20px;
}

.pollution-guide-img {
  width: 100%;
  max-width: auto;
  border: 2px solid rgb(76, 73, 73);
  max-width: 500px;
}

/* -----------------------  POLLUTION MAP PAGE / HOME  -----------------------  */

.grade-image {
  width: calc(100vw - 170px);
  margin: 0 0 50px;
  display: block;
  grid-column: span 5;
  margin: 0 auto;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin: 0 auto;
  /* text-align: center; */
  background-color: #f4f4f4;
  width: calc(100vw - 100px);
  padding-bottom: 40px;
}

.map-container {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  display: grid;
  grid-column: span 5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.map-wrapper {
  position: relative;
  grid-column: span 5;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  position: relative;
}

.leaflet-container {
  margin: 0;
  padding: 0;
  grid-column: span 5;
  width: calc(100vw - 170px);
  height: calc(100vh - 170px);
}

.circle-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* -----------------------  SEARCH FIELD  -----------------------  */

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

input {
  flex-grow: 1; 
  background-color: #e0e0e0;
  height: 35px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #898989;
  padding: 0 10px; 
  outline: none;
  margin-left: 10px;
  display: block;
}

.search-button {
  border-radius: 20px;
  padding: 0.6em 0.6em;
  width: 100px;
  min-width: 100px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-image: linear-gradient(#871919, #b52828);
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.search-button:hover {
  border: 1px solid white;
  box-shadow: rgb(205, 205, 205) 1px 0 10px;
}

/* -----------------------  FILTER  -----------------------  */

.filter-container {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.filter-button {
  margin: 0 auto;
  background-image: linear-gradient(#871919, #b52828);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 0;
  color: white;
  padding: 8px 80px;
  cursor: pointer;
}

.filter-button:hover {
  box-shadow: rgb(205, 205, 205) 1px 0 10px;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.arrow-up {
  margin-top: 8px;
  transform: rotate(-135deg);
}

/* -----------------------  LOADER  -----------------------  */

.loader-para {
  font-weight: 600;
  color: white;
  max-width: fit-content;
  font-size: 1.3rem;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.blur-effect {
  filter: blur(5px);
  pointer-events: none;
}

#loader {
  background-color: transparent;
}

#loader .container {
  top: 30%;
  position: relative;
}

#loader .progress {
  width: 200px;
  height: 15px;
  overflow: hidden;
  background-color: #ddd;
  margin: 0 auto 0 auto;
  text-align: center;
  border-radius: 10px;
  opacity: 0;
  animation: loader-fade 0.7s ease-in-out forwards;
}

#loader .progress .progress-bar {
  width: 0%;
  max-width: 100%;
  height: 15px;
  overflow: hidden;
  position: relative;
  background-color: #00ff99;
  animation-name: loader-progress;
  animation-duration: 20s;
  animation-timing-function: cubic-bezier(0.024, 0.9, 0.024, 0.9);
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  border-radius: 10px;
  animation-fill-mode: forwards;
}

#loader .progress .progress-bar .shimmer {
  position: absolute;
  left: -400px;
  top: 0px;
  animation-name: loader-shimmer;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-delay: 0.65s;
  animation-iteration-count: infinite;
  z-index: 10;
}

#loader .progress .progress-bar .shimmer > div {
  position: absolute;
  width: 400px;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(194, 255, 163, 0.493) 45%,
    rgba(28, 168, 35, 0.45) 60%,
    rgba(27, 126, 22, 0.55) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes loader-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes loader-shimmer {
  0% {
    transform: translateX(-50px);
    animation-timing-function: cubic-bezier(0.85, 0, 0.64, 1);
  }
  98.36% {
    transform: translateX(600px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(600px);
  }
}
@keyframes loader-fade {
  to {
    opacity: 1;
  }
}

/* -----------------------  ABOUT PAGE  -----------------------  */

.about-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin: 0 auto;
  padding-bottom: 40px;
  grid-column: span 5;
  text-align: center;
}

/* -----------------------  CHART PAGE  -----------------------  */

.chart-container {
  grid-column: span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  display: grid;
}

.line-chart {
  grid-column: span 5;
  width: calc(100vw - 170px);
  height: calc(100vw - 170px);
  margin: 0 auto;
}

/* -----------------------  CONTACT PAGE -----------------------  */

.contact-container {
  text-align: left;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  display: grid;
  grid-column: span 5;
}

.linkedin-a {
  color: black;
}

.linkedin-a:hover {
  text-decoration: underline;
}

.about-links {
  color: black;
  text-decoration: underline;
  font-weight: 400;
}

.about-links:hover {
  color: gray;
  text-decoration: underline;
}

/* -----------------------  POLLUTION MAP TEST / WORLD MAP  -----------------------  */

.worldmap-container {
  width: calc(100vw - 100px);
  text-align: center;
}

/* -----------------------  MEDIA QUERIES  -----------------------  */

@media (min-width: 768px) {
  .box-container {
    width: calc(100vw - 100px);
  }

  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    gap: 10px; 
  }

  input {
    flex-grow: 1;
    width: 400px;
  }

  .search-button {
    width: 100px;
    min-width: 100px;

  }

  p {
    /* margin: 0 20px 0 20px; */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pollution-guide-img {
    margin: 0 20px 0 20px;
  }
}

@media (min-width: 1024px) {
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    gap: 10px;
  }

  input {
    flex-grow: 1;
    width: 500px;
  }

  .search-button {
    width: 100px;
    min-width: 100px;
  }

  .location-button {
    width: 150px;
  }
}

/* -----------------------  MEDIA QUERIES / THEME  -----------------------  */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 750px) {
  .header-logo {
    display: block !important;
  }
}
